<!DOCTYPE html>
<html>
<head>
  <title>Owaspka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :responsive => true, :brand => "OWASP Karlsruhe" do %>
    <%= menu_group do %>
        <%= menu_item "Round Tables", tables_path %>
        <%= menu_item "Participants", participants_path %>
    <% end %>
<% end %>

<div class="container fluid">
	<%= bootstrap_flash %>
	<%= yield %>
</div>

</body>
</html>
